/* Add this to your global CSS file */
/* Let the browser handle the complex ruby layout, we just style it. */
ruby {
  display: inline-flex;
  flex-direction: column-reverse; /* Stacks rt above the base text */
  vertical-align: baseline;
  line-height: 1;
}

ruby > span {
  line-height: 1.5; /* Provides space for the furigana above */
  display: inline-block;
}

rt {
  font-size: 0.65rem;
  line-height: 1.1;
  text-align: center;
  user-select: none;
  opacity: 0.8;
}
